.App {
  width: 100%;
  max-width: 750px;
  height: 100%;
  margin: 0 auto;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    160deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 95%
  );
}
