.newtodo {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 750px;
  background-color: #013c6c;
  top: 0;
  left: 0;
}

.newtodo .title {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: #036eb2;
  color: white;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px #202020;
}
.newtodo .title svg {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin: 0 20px 0 10px;
  color: white;
  height: 100%;
  cursor: pointer;
}

.newtodo .data {
  height: calc(100% - 40px);
  color: #83cffe;
  padding: 10px;
}
.newtodo .data .input-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}

.newtodo .data input {
  color: #7e9eb7;
  border: none;
  border-bottom: 1px solid #121212;
  background-color: transparent;
  outline: none;
}
.newtodo .data input::placeholder {
  color: #7e9eb7;
}
.newtodo .data input:valid {
  color: white;
}

.newtodo .data .checkbox {
  padding: 1px;
  margin: 40px 0 40px;
  display: flex;
  align-items: center;
}
.newtodo .data .checkbox svg {
  margin: 0 10px 0 0;
  width: 15px;
  height: 15px;
}

input.picker[type="date"]::-webkit-calendar-picker-indicator {
  width: 0;
  color: transparent;
  background: transparent;
}
input.picker[type="time"]::-webkit-calendar-picker-indicator {
  width: 0;
  color: transparent;
  background: transparent;
}

.newtodo .data .date-time {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.newtodo .data .date-time input {
  margin: 0 10px 0 0;
  width: 100%;
}
.newtodo .data .date-time svg {
  width: 20px;
  height: 20px;
  color: white;
  flex-shrink: 0;
}
.newtodo .data .date-time svg:last-of-type {
  margin-left: 10px;
}

.newtodo .data .list {
  margin: 50px 0 50px 0;
}

.newtodo button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: #121212;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newtodo button svg {
  color: #4c9fe6;
  height: 100%;
  width: 100%;
}
